@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Variable.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-default: 1.25rem;
  --color-primary: #8eb9fc;
  --color-secondary: #274dea;
  --color-text-light: #ebffdc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", system-ui, sans-serif;
}

ul {
  list-style: none;
}

.header {
  background: var(--color-secondary);
  padding: 1.5rem 2rem;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  color: var(--color-text-light);
  font-size: var(--font-size-default);
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
